.nav-link{
    margin: 10px;
}

.intro{
    margin-top: 180px;
}
span{
    color: orangered;
}
.second{
    margin-top: 250px;
}
.intro_1{
    margin: 60px;
}
.icon{
    color: blue;
}
.third{
    margin-top: 100px;
    margin-bottom: 100px;
}
.service{
    margin: 45px;
    box-shadow: 5px 5px 10px black;
    transition: 0.4s;
}
.service:hover{
    transform: scale(1.1);
}
.icon_1{
    color: blue;
    border: none;
    padding: 20px;
    font-size: 35px;
}
.four{
    margin-top: 150px;
}