.nav-link{
    margin: 20px;

}
.head{
    width: 1440px;
    height: 698px;
    background-color: #264653;
    margin-bottom: 100px;
    
}
h1{
    font-family: 'Kaushan Script', cursive;
}
.second{
    margin-bottom: 100px;
}
.box_item{
    height: 400px;
    width: 300px;
    margin: 30px;
    transition: 0.4s;
}
.box_item:hover{
    transform: scale(1.1);
}
.gallery{
    margin-bottom: 100px;
}
.star{
    color:orangered;
    margin: 5px;
}