.nav-link{
    margin: 10px;
}

.intro{
    margin-top: 180px;
}
span{
    color: orangered;
}
.second{
    margin-top: 250px;
}
.intro_1{
    margin: 60px;
}
.icon{
    color: blue;
}
.third{
    margin-top: 100px;
    margin-bottom: 100px;
}